<!-- ******PROMO****** --> 
<section class="section">
    <form class="form" role="form">
      <div class="modal-body">
          <div>
            <h1 class="logo">
              <span class="logo-title">Create a Story</span>
            </h1><!--//logo--> 
            <hr>
          </div>
          <div class="row">
              <div class="form-group col-xs-6">
                  <div class="input-group">
                      <div class="input-group-addon">Name</div>
                      <input class="form-control" type="text" id="name" placeholder="What's the name of your story?" required="">
                  </div>
              </div>
              <div class="form-group col-xs-6">
                  <div class="input-group">
                      <div class="input-group-addon">Category</div>
                      <select class="form-control" id="category">
                          <option>Action</option>
                          <option>Adventure</option>
                          <option>Romance</option>
                          <option>Comedy</option>
                          <option>Sci Fi</option>
                          <option>Horror</option>
                      </select>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="form-group col-xs-12">
                <label for="exampleInputEmail1">Description</label>
                <textarea class="form-control" rows="5" id="description" placeholder="Tell your readers about your story... A paragraph or two should suffice." required=""></textarea>
              </div>
          </div>

      </div>
      <div class="modal-footer">
          <a href="/publish" class="btn btn-danger pull-left">Cancel</a>
          <button type="submit" id="saveButton" class="btn btn-success">Save</button>
      </div>
    </form>
</section><!--//promo-->

<script>
    $("#saveButton").click(function(){
          var name = $("#name").val();
          var category = $("#category").val();
          var description = $("#description").val();
          $.post(
              '/story/create',
              {name: name, category: category, description: description},
              function() {
                  window.location = "/publish";
              }
          ).fail(function(res){
              alert("Error: " + res.getResponseHeader("error"));
          });
      });
</script>