<section class="section promo" style="background-image: url('<%-story.full%>');">
	<span class="raster"></span>
	<div class="container intro overlay">
		<h2 class="title"><%-chapter.name%></h2>
		<p class="summary full-width">
			<%-chapter.content.replace(/\n/g,'</p><p class="summary full-width">')%>
		</p>
	</div>
</section>