<!DOCTYPE html>
<html>
  <head>
    <!--
        For demonstration purposes, the `title` is dynamically set here based on
        your `sails.config.appName` to show that you can inject data into layouts
        exactly the same way as with your other view templates.
    -->
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!--

      Stylesheets
      ========================

      You can link any CSS, LESS, or image files in your `assets` directory
      as you would normally: using <link/> tags.
      
    -->

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="/styles/plugins/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/styles/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/styles/plugins/animate.css">
    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <!-- Style Overrides -->
    <link rel="stylesheet" type="text/css" href="/styles/overrides.css">
    <%if(publisher){%>
      <!-- Publisher Style Overrides -->
      <link rel="stylesheet" type="text/css" href="/styles/publisher.css">
    <%}else if(admin){%>
      <!-- Admin Style Overrides -->
      <link rel="stylesheet" type="text/css" href="/styles/admin.css">
    <%}%>

    <!--

      Support for LESS included by default
      ================================================

      LESS files are automatically compiled when they change using the Gruntfile
      located in the top-level of this Sails app.  If you run into issues with styles
      not reloading, check the Sails log output in your console for LESS compilation errors.
      If necessary, shut down and then lift your app again.
      
    -->


    <!-- Link to backbone and it's dependencies -->
    <script type="text/javascript" src="/js/plugins/jquery.js"></script>
    <script type="text/javascript" src="/js/plugins/underscore.js"></script>
    <script type="text/javascript" src="/js/plugins/backbone.js"></script>   

    <!-- Bring in the socket.io client -->
    <script type="text/javascript" src="/js/socket.io.js"></script>
    <!-- then beef it up with some convenience logic for talking to Sails.js -->
    <script type="text/javascript" src="/js/sails.io.js"></script>
    <!-- listen on socket.io for incoming messages -->
    <script type="text/javascript" src="/js/app.js"></script>

  </head>

  <body class="home-page">

    <div class="wrapper">

        <!-- ******HEADER****** --> 
        <header id="header" class="header">  
            <div class="container">            
                <h1 class="logo pull-left">
                    <a href="/">
                        <span class="logo-title">StoryCrush</span>
                        <%if(user){%><i class="fa fa-star"></i><%}%>
                    </a>
                </h1><!--//logo-->              
                <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button><!--//nav-toggle-->
                    </div><!--//navbar-header-->            
                    <div id="user-nav" class="navbar-collapse collapse" id="navbar-collapse">
                        <ul class="nav navbar-nav">
                            <%if(admin){%>
                              <li class="nav-item nav-item-cta dropdown">
                                <a data-toggle="dropdown" href="#">Home<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                  <li><a href="/home">Member</a></li>
                                  <li><a href="/admin">Admin</a></li>
                                </ul>
                              </li>
                            <%}else{%>
                              <li class="nav-item"><a href="/home">Home</a></li>
                            <%}%>
                            <%if(publisher){%>
                              <li class="nav-item nav-item-cta dropdown">
                                <a data-toggle="dropdown" href="#">Stories<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                  <li><a href="/find">Read</a></li>
                                  <li><a href="/publish"><span class="label label-custom">Beta</span> Publish</a></li>
                                </ul>
                              </li>
                            <%}else{%>
                              <li class="nav-item"><a href="/find">Stories</a></li>
                            <%}%>
                            <%if(false){%>
                            <li class="nav-item"><a href="/coming_soon">Blog</a></li>
                            <li class="nav-item"><a href="/coming_soon">Contact</a></li>
                            <%}%>
                            <%if(user){%>
                                <li class="nav-item"><a href="/profile"><img src="<%- user.picture %>" height="25" width="25"></a></li>
                                <li class="nav-item nav-item-cta last dropdown">
                                  <a data-toggle="dropdown" href="#"><%- user.username %><span class="caret"></span></a>
                                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <li><a href="/profile"><span class="label label-custom">Beta</span> Profile</a></li>
                                    <%if(false){%><li><a href="/coming_soon">Achievements</a></li><%}%>
                                    <li><a id="logoutButton" href="/logout">Log Out</a></li>
                                  </ul>
                                </li>
                            <%}else{%>
                                <li class="nav-item"><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
                                <li class="nav-item nav-item-cta last"><a class="btn btn-cta btn-cta-primary" href="/pricing">Sign Up</a></li>
                            <%}%>
                        </ul><!--//nav-->
                    </div><!--//navabr-collapse-->
                </nav><!--//main-nav-->           
            </div><!--//container-->
        </header><!--//header-->

      <!-- Include the view file for the current controller/route -->
      <%- body %>

      <!-- LOG IN MODAL -->
      <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
              <form class="form" role="form">
                  <div class="modal-body">
                      <div>
                        <h1 class="logo">
                          <span class="logo-title">StoryCrush</span>
                          <span class="small pull-right">Login</span>
                        </h1><!--//logo--> 
                        <hr>
                      </div>
                          <div class="form-group">
                              <div class="input-group">
                                  <div class="input-group-addon">email</div>
                                  <input class="form-control" type="text" id="loginEmail" placeholder="email" required="">
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="input-group">
                                  <div class="input-group-addon">password</div>
                                  <input class="form-control" type="password" id="loginPassword" placeholder="password" required="">
                              </div>
                          </div>
                  </div>
                  <div class="modal-footer">
                      <button id="loginButton" type="submit" class="btn btn-success">Login</button>
                  </div>
              </form>
          </div>
        </div>
      </div>

      <!-- DISCLAIMER MODAL -->
      <div class="modal fade" id="discModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div>
                      <h1 class="logo">
                        <span class="logo-title">StoryCrush</span>
                        <span class="small pull-right">Admin Policy</span>
                      </h1><!--//logo--> 
                      <hr>
                    </div>
                      <p>We are sorry to say, however an Admin is unable to become a Publisher!</p>
                      <p>If an Admin were also a Publisher, hypothetically they could approve their own stories. This allowance would
                      break the important balance we need in order to ensure a non-biased environment. As an Admin, your role upholds an
                      obligation to filer and approve of high quality content fairly.</p>
                      <p>We apologize for this inconvenience, and hope you can continue to respect our policies that allow you to perform your
                      job to your maximum ability.</p>
                </div>
            </div>
          </div>
      </div>

      <!-- ******FOOTER****** --> 
      <footer class="footer">
          <div class="footer-content">
              <div class="container">
                  <div class="row">
                      <div class="footer-col col-md-5 col-sm-7 col-sm-12 about">
                          <div class="footer-col-inner">
                              <h3 class="title">About Us</h3>
                              <p>Imagine being able to read unique, and high quality, stories the way they were meant to be seen. StoryCrush brings power to both the reader and the author. Our platform is designed in a way that our readers can fall in love with our content and our authors can easily deliver stories that shine. After encountering the StoryCrush experience, you'll fall in love.</p>
                              <p><a class="more" <%if(admin){%>data-toggle="modal" data-target="#discModal"<%}else if(user){%>href="/publisher/add"<%}else{%>href="#" data-toggle="modal" data-target="#loginModal"<%}%>>Become A Publisher <i class="fa fa-long-arrow-right"></i></a></p>
                              
                          </div><!--//footer-col-inner-->
                      </div><!--//foooter-col-->
                      <div class="footer-col col-md-3 col-sm-4 col-md-offset-1 links">
                          <div class="footer-col-inner">
                              <h3 class="title">Links</h3>
                              <ul class="list-unstyled">
                                  <li><a href="/coming_soon"><i class="fa fa-caret-right"></i>Jobs</a></li>
                                  <li><a href="/coming_soon"><i class="fa fa-caret-right"></i>Press</a></li>
                                  <li><a href="/coming_soon"><i class="fa fa-caret-right"></i>Terms of services</a></li>
                                  <li><a href="/coming_soon"><i class="fa fa-caret-right"></i>Privacy Policy</a></li>
                              </ul>
                          </div><!--//footer-col-inner-->
                      </div><!--//foooter-col-->                 
                      <div class="footer-col col-md-3 col-sm-12 contact">
                          <div class="footer-col-inner">
                              <h3 class="title">Get in touch</h3>
                              <div class="row">
                                  <p class="tel col-md-12 col-sm-4"><i class="fa fa-phone"></i>0800 123 4567</p>
                                  <p class="email col-md-12 col-sm-4"><i class="fa fa-envelope"></i><a href="/coming_soon">support@website.com</a></p>
                                  <p class="email col-md-12 col-sm-4"><i class="fa fa-comment"></i><a href="/coming_soon">Live Chat</a></p>    
                              </div> 
                          </div><!--//footer-col-inner-->            
                      </div><!--//foooter-col-->   
                  </div><!--//row-->
              </div><!--//container-->        
          </div><!--//footer-content-->
          <div class="bottom-bar">
              <div class="container">
                  <div class="row">
                      <small class="copyright col-md-6 col-sm-6 col-xs-12">Copyright @ 2014 StoryCrush | Designed by <a href="http://web.oneironaut.us">Oneironaut Web</a></small>
                      <ul class="social col-md-6 col-sm-6 col-xs-12 list-inline">
                          <li><a href="#" ><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#" ><i class="fa fa-facebook"></i></a></li>                        
                          <li><a href="#" ><i class="fa fa-linkedin"></i></a></li>
                          <li class="last"><a href="#" ><i class="fa fa-youtube"></i></a></li>
                      </ul><!--//social-->
                  </div><!--//row-->
              </div><!--//container-->
          </div><!--//bottom-bar-->
      </footer><!--//footer-->

    </div>

    <!--

      Client-side Javascript
      ========================

      You can import any js files in your `assets` directory as you would 
      normally: using <script></script> tags.

      Here's an example of importing a few dependencies, in order:
    -->

    <script type="text/javascript">
      $("#loginButton").click(function(){
          var email = $("#loginEmail").val();
          var password = $("#loginPassword").val();
          if (email && password) {
              $.post(
                  '/login',
                  {email: email, password:password},
                  function () {
                    location.reload();
                  }
              ).fail(function(res){
                  alert("Error: " + res.getResponseHeader("error"));
              });
          }
      });

      // $("#logoutButton").click(function() {
      //   $.post(
      //       '/logout',
      //       function() {
      //         location.reload();
      //       }
      //   ).fail(function(res){
      //       alert("Error: " + res.getResponseHeader("error"));
      //   });
      // });
    </script>

    <!-- A few key dependencies, linked in order -->
    <script type="text/javascript" src="/js/plugins/bootstrap.js"></script>
    <script type="text/javascript" src="/js/plugins/detectmobilebrowser.js"></script> 
    <script type="text/javascript" src="/js/plugins/back-to-top.js"></script>
    <!-- SCRIPTS -->
    <script type="text/javascript" src="/js/plugins/jquery.placeholder.js"></script>
    <script type="text/javascript" src="/js/plugins/jquery.inview.min.js"></script>
    <script type="text/javascript" src="/js/plugins/jquery.fitvids.js"></script>
    <script type="text/javascript" src="/js/main.js"></script> 
    <!--[if !IE]>--> 
    <script type="text/javascript" src="/js/animations.js"></script> 
    <!--<![endif]-->       
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--> 


    <!--

      Looking for client-side CoffeeScript or TypeScript?
      ================================================

      CoffeeScript and TypeScript precompilation are not installed by default,
      but if you'd like to mix those features in, it is straightforward to
      `npm install` the relevant grunt community modules and modify your Gruntfile
      to use them.

    -->



    <!--

      Another way: The Asset Linker
      ========================

      Sails supports a Grunt-based asset linker, to automatically inject 
      <link> and <script> tags, as well any client-side templates you're using
      into your HTML layouts and views, respecting dependencies.

      You created this Sails app with the asset linker disabled.
      If you change your mind, check out the docs on the subject:
      http://sailsjs.org/#!documentation/asset-management

    -->

    </body>
</html>
