<!-- ******PROMO****** --> 
<section class="promo section" style="background-color:#444444; background:url('/images/background/coming-soon.jpg') center;">
    <!--Story 1-->
    <div class="container intro">
    </div><!--//intro-->
</section><!--//promo-->