<!-- ******FEATURES****** --> 
<section id="features" class="features section">
    <div class="container">
        <div class="item row">
            <div class="content col-md-5 col-sm-5 col-xs-12 pull-right col-md-offset-1 col-sm-offset-1 col-xs-offset-0 from-right">
                <h3 class="title">A new way to do things</h3>
                <div class="details">
                    <p>At StoryCrush, we've redefined the way things are done. Our mission over here is to bring you the
                    best reading and writing experience possible. We constantly work on ways to personalize each story; that way you
                    can feel a new sensation with every read. Our StoryCrush Publisher program is also something we plan to develop
                    so that we can make story creation a painfree and intuitive process. Simply put, we want our service to be a win-win for the reader and writer. What's wrong with the grass being greener on both sides?</p>
                </div>
            </div><!--//content-->
            <div class="figure col-md-6 col-sm-6 col-xs-12 from-left">
                <img class="img-responsive" src="/images/background/promo-01.png" alt="" />
            </div><!--//figure-->
        </div><!--//item-->
        
        <hr />
        
        <div class="item row">
            <div class="content col-md-5 col-sm-5 col-xs-12 from-left">
                <h3 class="title">Read all the stories you like</h3>
                <div class="details">
                    <p>As a reader, we want you to find the type of story you're looking for. So many websites focus on having
                    content but they forget about their users. Having meaningful content is great, but we want you to have much
                    more than that. At StoryCrush, we don't just stop with quality. We want to personalize the way you feel about
                    a certain story so that you won't forget that experience. We also want you to fall in love with our stories, and we strive to make that happen.</p>
                </div>
            </div><!--//content-->
            <div class="figure col-md-6 col-sm-6 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0 from-right">
                <img class="img-responsive" src="/images/background/promo-02.png" alt="" />
            </div><!--//figure-->
        </div><!--//item-->
        
         <hr />
        
        <div class="item row">
            <div class="content col-md-5 col-sm-5 col-xs-12 pull-right col-md-offset-1 col-sm-offset-1 col-xs-offset-0 from-right">
                <h3 class="title">Become a StoryCrush Publisher</h3>
                <div class="details">
                    <p>As a StoryCrush Publisher, we want you to have the freedom to express what's inside your mind. There are a lot places your work can be seen, but how many places will let it to be seen the way you intended? With StoryCrush, your story gets to tell its own story. We want each story to be unique, leaving a lasting impression on our readers. We don't think stories need to be complete before you share them either. This way your readers can follow your stories one chapter at a time.</p>
                </div>
            </div><!--//content-->
            <div class="figure col-md-6 col-sm-6 col-xs-12 from-left">
                <img class="img-responsive" src="/images/background/promo-03.png" alt="" />
            </div><!--//figure-->
        </div><!--//item-->  
    </div><!--//container-->
</section>