<!-- ******PROMO****** --> 
<section class="section">
    <form class="form" role="form" method="post" action="/publisher/create">
      <div class="modal-body">
          <div>
            <h1 class="logo">
              <span class="logo-title">Become A Publisher</span>
            </h1><!--//logo--> 
            <hr>
          </div>
          <div class="row">
              <div class="form-group col-xs-12">
                  <div class="input-group">
                      <label for="name">Publisher Name</label>
                      <input class="form-control" type="text" name="name" placeholder="What will be your publisher name?" required="">
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12">
              <p class="alert alert-warning">
                <strong>Warning!</strong><br>
                Before proceeding we have to inform you that applying to become a publisher is a process in which you are subjected to be reviewed by our admins. This means your approval could potentially take several days based on the information we review. If for any reason our admins find you cannot become a publisher, you will be emailed with a detailed explanation behind our reasoning.
              </p>
              <div class="checkbox">
                <label>
                  <input type="checkbox" required=""> I agree to the <a href="#" data-toggle="modal" data-target="#tosModal">Terms of Service</a>
                </label>
              </div>
            </div>
          </div>

      </div>
      <div class="modal-footer">
          <a href="/learn" class="btn btn-danger pull-left">Cancel</a>
          <button type="submit" id="applyButton" class="btn btn-success">Apply</button>
      </div>
    </form>
</section><!--//promo-->

<!-- TOS MODAL -->
<div class="modal fade" id="tosModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-body">
              <div>
                <h1 class="logo">
                  <span class="logo-title">StoryCrush</span>
                  <span class="small pull-right">Publisher Terms of Service</span>
                </h1><!--//logo--> 
                <hr>
              </div>
                <h4 class="logo-title">1. Terms of Agreement</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae velit mi. Donec laoreet finibus diam, ac rhoncus erat iaculis non. Nunc consectetur gravida metus, sed mattis risus tincidunt at. In feugiat vel libero id cursus. Cras nisl dolor, pellentesque tempor euismod nec, lobortis sit amet ipsum. Nullam nec finibus lectus. Sed urna odio, interdum ut eleifend vitae, consectetur et urna.</p>
                <h4 class="logo-title">2. Content Policy</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae velit mi. Donec laoreet finibus diam, ac rhoncus erat iaculis non. Nunc consectetur gravida metus, sed mattis risus tincidunt at. In feugiat vel libero id cursus. Cras nisl dolor, pellentesque tempor euismod nec, lobortis sit amet ipsum. Nullam nec finibus lectus. Sed urna odio, interdum ut eleifend vitae, consectetur et urna.</p>
                <h4 class="logo-title">3. Community Conduct</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae velit mi. Donec laoreet finibus diam, ac rhoncus erat iaculis non. Nunc consectetur gravida metus, sed mattis risus tincidunt at. In feugiat vel libero id cursus. Cras nisl dolor, pellentesque tempor euismod nec, lobortis sit amet ipsum. Nullam nec finibus lectus. Sed urna odio, interdum ut eleifend vitae, consectetur et urna.</p>
                <h4 class="logo-title">4. Online Policy</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae velit mi. Donec laoreet finibus diam, ac rhoncus erat iaculis non. Nunc consectetur gravida metus, sed mattis risus tincidunt at. In feugiat vel libero id cursus. Cras nisl dolor, pellentesque tempor euismod nec, lobortis sit amet ipsum. Nullam nec finibus lectus. Sed urna odio, interdum ut eleifend vitae, consectetur et urna.</p>
                <h4 class="logo-title">5. Disclaimer</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae velit mi. Donec laoreet finibus diam, ac rhoncus erat iaculis non. Nunc consectetur gravida metus, sed mattis risus tincidunt at. In feugiat vel libero id cursus. Cras nisl dolor, pellentesque tempor euismod nec, lobortis sit amet ipsum. Nullam nec finibus lectus. Sed urna odio, interdum ut eleifend vitae, consectetur et urna.</p>
          </div>
      </div>
    </div>
</div>